// Import Bulma's core
@import "~bulma/sass/utilities/_all";
@import 'palette';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
@import url('https://fonts.googleapis.com/css?family=Muli');

// Set your colors
$primary: #3D405B;
$primary-invert: findColorInvert($primary);
$terracotta: #E07A5F;
$terracotta-invert: findColorInvert($terracotta);
$olive: #81B29A;
$olive-invert: findColorInvert($olive);
$cream: #F4F1DE;
$cream-invert: findColorInvert($cream);
$light-blue: #6699CC;
$light-blue-invert: findColorInvert($light-blue);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
$dark-blue: #555F80;
$dark-blue-invert: findColorInvert($dark-blue);

$dark-grey: #4a4a4d;
$dark-grey-invert: findColorInvert($dark-grey);

$sidebar-box-shadow: "5px 0px 5px 3px rgba($black, 0.1)";
$footer-background-color: $primary;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "terracotta": ($terracotta, $terracotta),
    "olive": ($olive, $olive-invert),
    "cream": ($cream, $cream-invert),
    "light-blue": ($light-blue, $light-blue-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert),
    "dark-blue": ($dark-blue, $dark-blue-invert),
    "dark-grey": ($dark-grey, $dark-grey-invert)
);
// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";