/* Coolors Exported Palette - coolors.co/304d6d-437f97-59c9a5-fcff4b-86bbd8 */

/* HSL */
$color1: hsla(211%, 39%, 31%, 1);
$color2: hsla(197%, 39%, 43%, 1);
$color3: hsla(161%, 51%, 57%, 1);
$color4: hsla(61%, 100%, 65%, 1);
$color5: hsla(201%, 51%, 69%, 1);

/* RGB */
$color1: rgba(48, 77, 109, 1);
$color2: rgba(67, 127, 151, 1);
$color3: rgba(89, 201, 165, 1);
$color4: rgba(252, 255, 75, 1);
$color5: rgba(134, 187, 216, 1);